<!DOCTYPE html>
{% load staticfiles %}
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>  View Book Records </title>

      <link    rel="stylesheet" href="{% static 'css/BRMstyle.css' %}" >

      </head>

    <body style="background-color:#ff00ff";  >

      <div id="header">
      <h1>BOOK RECORD MANAGEMENT </h1>

      <div id="nav">
        <a href="/BRMapp/view-books"> View All</a>
      <a href="/BRMapp/new-book"> Add New</a>
      <a href="/BRMapp/search-book"> Search</a>
      <a href="/BRMapp/logout">Logout </a>

        </div>
        <p style="color:red; text-align:right;" p> AJAY KUMAR MAURYA</p>


      </div>





      <div id="main">

      <h2 style="color:blue;"> View Book Record  </h2>

<table>
<thead>

  <th>Book Title </th>
  <th>Price </th>
  <th>Author</th>
  <th>Publisher</th>
</thead>
{%  for book in books %}
<tr>
  <td> {{book.title}}  </td>
  <td>  {{book.price}}  </td>
  <td> {{book.author}}   </td>
  <td>  {{book.publisher}}  </td>
 <td > <a class="btn" href="/BRMapp/edit-book?bookid={{book.id}}" >Edit</td>
   <td > <a class="btn" href="/BRMapp/delete-book?bookid={{book.id}}" >Delete</td>

</tr>

{% endfor %}
</table>



    </div>

    </body>
  </html>
